version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: 'crate-ci/typos'
    groups:
      cachix-actions:
        patterns:
          - 'cachix*'
  - package-ecosystem: 'gomod'
    directory: '/'
    schedule:
      interval: 'weekly'
