name: CI - Go

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/ci-go.yml'
      - '**.go'
      - 'go.*'
      - 'testdata/**'
  pull_request:
    paths:
      - '.github/workflows/ci-go.yml'
      - '**.go'
      - 'go.*'
      - 'testdata/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          cache-dependency-path: 'go.sum'
      - run: go test -v ./...
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          cache-dependency-path: 'go.sum'
      - run: go build -v -race ./...
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          cache-dependency-path: 'go.sum'
      - name: check format
        run: go fmt ./... && git add --intent-to-add . && git diff --exit-code
      - run: go vet ./...
